---
import Section from "../Section.astro";
import { skills } from "@cv";

import JetBrains from "@/icons/JetBrains.astro";
import PhpStorm from "@/icons/PhpStorm.astro";
import WebStorm from "@/icons/WebStorm.astro";
import React from "@/icons/react.astro";
import AstroJS from "../../icons/AstroJS.astro";
import Android_Studio from "@/icons/AndroidStudio.astro";
import Eclipse from "@/icons/Eclipse.astro";
import iTerm from "@/icons/iTerm.astro";
import bash from "@/icons/bash.astro";
import CloudFlare from "@/icons/CloudFlare.astro";
import FTP from "@/icons/FTP.astro";
import SSH from "@/icons/SSH.astro";
import GitHub_Desktop from "@/icons/GitHub_Desktop.astro";
import Apache from "@/icons/Apache.astro";
import Linux from "@/icons/Linux.astro";
import Mac from "@/icons/Mac.astro";
import Windows from "@/icons/Windows.astro";
import Java from "@/icons/Java.astro";
import Android from "@/icons/Android.astro";
import Tailscale from "@/icons/Tailscale.astro";

const SKILLS_ICONS: Record<string, any> = {
	JetBrains,
	PhpStorm,
	WebStorm,
	React,
	AstroJS,
	Android_Studio,
	Eclipse,
	iTerm,
	bash,
	CloudFlare,
	FTP,
	SSH,
	GitHub_Desktop,
	Apache,
	Linux,
	Mac,
	Windows,
	Java,
	Android,
	Tailscale
};

let index = 0;
---

<Section className={Astro.props.className} title="Tech Skills">
	<ul class="[&>li>svg]:text-skin-hue inline-flex flex-wrap gap-6 [&>li>svg]:size-5 [&>li]:text-sm">
		{
			skills.map(({ name }) => {
				const iconName = name === "Next.js" ? "Next" : name
				const Icon = SKILLS_ICONS[iconName];

				return (
					<li class="border-skin-hue/20s bg-skin-button-accent/20s borders border-solids flex items-center gap-1 rounded-md px-2 py-0.5 text-xs text-skin-muted print:border-none print:bg-transparent print:p-0 print:text-zinc-800">
						{Icon && <Icon />} <span>{name.replace(/_/g, ' ')}</span>
					</li>
				);
			})
		}
	</ul>
</Section>
