---

---

<div class="text-xs flex w-full max-w-7xl pt-8 justify-center md:col-span-6 print:hidden">
	<img src="https://ghchart.rshah.org/pabloFdz" class="md:scale-[1.15]">
</div>
<div class="text-xl flex w-full max-w-7xl justify-center md:col-span-6 print:hidden">
	∴&nbsp;&nbsp;<span class="signature">pabloFdz</span>&nbsp;&nbsp;∴
</div>